[core]
# The SqlAlchemy connection string to the metadata database.
# SqlAlchemy supports many different database engine, more information

# their website

sql_alchemy_conn = postgresql+psycopg2://{{ airflow_db_username }}:{{ airflow_db_password }}@{{ db_string }}/airflow

# Whether to load the examples that ship with Airflow. It's good to

# get started, but you probably want to set this to False in a production

# environment

# Gives us something to look at to set this to true.

load_examples = True

[webserver]

# The base url of your website as airflow cannot guess what domain or

# cname you are using. This is used in automated emails that

# airflow sends to point links to the right web server

base_url = http://localhost:8080

# The ip specified when starting the web server

web_server_host = 0.0.0.0

# The port on which to run the web server

web_server_port = 8080

# The Celery broker URL. Celery supports RabbitMQ, Redis and experimentally

# a sqlalchemy database. Refer to the Celery documentation for more

# information.

[celery]
broker_url = redis://localhost:6379/1

# Another key Celery setting

celery_result_backend = db+postgresql://:{{ airflow_db_username }}:{{ airflow_db_password }}@{{ db_string }}/airflow
